*{
    margin: 0;
    padding: 0;
    background-color: rgb(232, 206, 141);
}

h1
{
    background-color: rgb(156, 68, 14);
    height: 200px;
    text-align: center;
    align-content: center;
}
.navbar
{
    text-align: center;
    padding: 20px;
}
.navbar a
{
    padding: 20px;
    color: green;
}
.myclass
{
    color: rgb(114, 48, 0);
}
.text p
{
    margin: 10px; 
}
